.pokemon-list{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

pre  {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}
.pokemon-list_names{


}